<tr id="<%= dom_id mining_type %>"> 
  <td>
    <strong></strong>
    <%= mining_type.description %>
  </td>

  <td>
    <strong></strong>
    <%= mining_type.acronym %>
  </td>

  <td>
    <strong></strong>
    <%= link_to t("links.show"), mining_type %>
  </td>
</tr>
