<h1 class="m-3"><%= t("edit.coin") %></h1>

<%= render "form", coin: @coin %>

<br>

<div class="m-3">
  <%= link_to t("links.show"), @coin, class:"btn btn-primary" %> |
  <%= link_to t("links.back"), coins_path, class:"btn btn-primary" %>
</div>
